[submodule "mathexp"]
	path = mathexp
	url = git@github.com:pascalfares/mathexp.git
[submodule "efsm_workflow"]
	path = efsm_workflow
	url = git@github.com:pascalfares/efsm_workflow.git
[submodule "cnam-AnnouncementSystem"]
	path = cnam-AnnouncementSystem
	url = git@github.com:nabihbarakat/cnam-AnnouncementSystem.git
[submodule "composition-des-diplomes"]
	path = composition-des-diplomes
	url = git@github.com:salim-ismail/composition-des-diplomes.git
[submodule "web-App"]
	path = web-App
	url = git@github.com:jeanchayeb/web-App.git
[submodule "mobacc"]
	path = mobacc
	url = git@github.com:alitaha89/mobacc.git
[submodule "DemandeDiplome"]
	path = DemandeDiplome
	url = git@github.com:abdowazen/DemandeDiplome-.git
[submodule "ChattingApp"]
	path = ChattingApp
	url = https://github.com/ptartarian/ChattingApp.git
[submodule "GenericWorkflow"]
	path = GenericWorkflow
	url = https://github.com/jadkaady/GenericWorkflow
[submodule "GestionStocksReparties"]
	path = GestionStocksReparties
	url = git@github.com:zeinazgheib/GestionStocksReparties.git
[submodule "EmploymentSite"]
	path = EmploymentSite
	url = git@github.com:hisham-abifarah/EmploymentSite.git
